version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
      timezone: Asia/Calcutta
    open-pull-requests-limit: 10
    reviewers:
      - crossphoton
